<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CropDeal - Connecting Farmers and Dealers</title>
    <!-- for testimonials section -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header class="header_section" id="home">
        <div class="container">
            <nav class="navbar">
                <img src="assets/images/FractoLogo.png" alt="logo" style="width: 80px; height: 60px;">
                <ul class="nav_links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Testimonial</a></li>
                    <!-- Show Dashboard link if user is logged in -->
                    <li *ngIf="isLoggedIn()">
                        <a href="#" (click)="redirectToDashboard()">Dashboard</a>
                    </li>
                    <!-- Show username if logged in -->
                    <li *ngIf="isLoggedIn()" style="margin-right: 0px;">
                        <i class="fas fa-user-alt"></i> {{ name }}
                    </li>
                    <!-- Show Login button if NOT logged in -->
                    <li *ngIf="!isLoggedIn()" style="margin-right: 0px;">
                        <a href="/login" class="btn"><i class="fas fa-user-alt"></i> Login</a>
                    </li>
                    <!-- Show Logout button if logged in -->
                    <!-- <li *ngIf="isLoggedIn()" style="margin-left: 10px;">
                        <a href="#" (click)="logout()" class="btn"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </header>






